/* =====================
  General Styles
===================== */
html { font-size: 110%; }
html, body {
  height: 100%; /* Fullscreen BG */
  width: 100%;
}
body {
  color: #394c4a;
  font-family: 'Work Sans', helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
h1 {
  font-family: 'Unica One', cursive;
  font-size: 3rem;
}
h2 {
  font-family: 'Unica One', cursive;
  font-size: 2.3rem;
}
h3 {
  font-family: 'Unica One', cursive;
  font-size: 1.8rem;
}
h4 {
  color: #9da7a6;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}
small {
  line-height: 1;
}
a {
  color: #7A75B5;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
}
a:focus,
a:hover {
  background-color: #7A75B5;
  color: #fffefd;
}
hr {
  margin-top: 30px;
  border: none;
}

/* =====================
  Navbar Styles
===================== */
.navbar-default {
  background-color: transparent;
  border: none;
  height: 80px;
  left: 0;
  margin-bottom: 0;
  padding: 0 0px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
.navbar-header {
  height: 80px;
}
.navbar-nav {
  margin-bottom: 0;
  margin-top: 0;
}
.navbar-brand,
.navbar-nav > li > a {
  font-family: 'Unica One', cursive;
  padding-bottom: 0;
  padding-top: 0;
}
.navbar-brand {
  font-size: 1.5rem;
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
  opacity: 0;
  overflow: hidden;
  text-transform: uppercase;
  transition: opacity 0.5s ease-in-out;
}
.navbar-brand .logo {
  margin-right: 0px;
  margin-top: 0px;
  max-height: 55px;
}
.navbar-brand span {
  color: #7A75B5;
}
.navbar-nav > li > a,
.navbar-nav > li > button {
  color: #6b7a78;
  height: 36px;
  line-height: 36px;
  margin-top: 22px;
}
.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  color: #7A75B5;
  text-decoration: underline;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #7A75B5;
  text-decoration: underline;
}
/* Fixed Menu */
.menu-fixed {
  background-color: #fffefd;
  background-color: rgba(255,254,253,0.97);
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(8,33,30,0.15);
  height: 60px;
  padding-top: 0;
  position: fixed;
  transition: background-color 0.5s ease-in-out,
              box-shadow 0.5s ease-in-out;
}
.menu-fixed .navbar-header {
  height: 60px;
}
.menu-fixed .navbar-toggle,
.menu-fixed .navbar-nav > li > a {
  margin-top: 13px;
}
.menu-fixed .navbar-brand {
  display: block;
  margin-top: 0;
  opacity: 1;
}

/* =====================
  Jumbotron Styles
===================== */
.jumbotron {
  background: linear-gradient(rgba(255,254,253,0.9), rgba(255,254,253,0.9)), url("assets/imgs/jumbotron.jpg") center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 510px;
  position: relative;
  width: 100%;
}
.jumbotron .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.jumbotron .row {
  padding-bottom: 45px;
}
.jumbotron .logo {
  max-width: 150px;
  width: 80%;
}
.jumbotron .title {
  color: #7A75B5;
}
.jumbotron p {
  margin: 0;
}

/* =====================
  Containers
===================== */
section.row,
footer.row {
  padding: 30px 30px 60px;
}
/* =====================
  Buttons
===================== */
.td-btn {
  padding: 12px 36px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}
.td-btn + .td-btn {
  margin-left: 6px;
}
.td-btn.small {
  font-family: 'Work Sans', helvetica, sans-serif;
  font-size: 0.7rem;
  padding: 9px 15px 8px;
}
.outline {
  background-color: transparent;
  border: 1px solid #9da6a4;
  color: #9da6a4;
}
.outline:focus,
.outline:hover {
  background-color: #9da6a4;;
  color: #fffefd;
}
.outline.green {
  border-color: #7A75B5;
  color: #7A75B5;
}
.outline.green:focus,
.outline.green:hover {
  background-color: #7A75B5;
  color: #fffefd;
}
.outline.white {
  border-color: #fffefd;
  color: #fffefd;
}
.outline.white:focus,
.outline.white:hover {
  background-color: #fffefd;
  color: #7A75B5;
}
/* Navbar Contact Button */
.navbar-nav .outline.pink {
  border-color: #7A75B5;
  color: #7A75B5;
  margin: 20px 15px 0;
  padding-top: 0;
}
.navbar-nav .outline.pink:focus,
.navbar-nav .outline.pink:hover {
  background-color: #7A75B5;
  color: #fffefd;
  text-decoration: none;
}
.menu-fixed .outline.pink {
  margin-top: 11px;
}
/* Codepen and Github SVG Buttons */
.iconBtn > img {
  margin-right: 6px;
  margin-top: -3px;
  width: 18px;
}
.iconBtn:focus > img,
.iconBtn:hover > img {
  -webkit-filter: brightness(10);
  filter: brightness(10);
}

/* =====================
  Icons and Images
===================== */
.icon {
  max-height: 90px;
}
.icon + p { 
  margin-top: 15px;
}
/* Profile Pic */
.profile {
  max-width: 180px;
  padding: 0 15px 0 0;
}
/* Glyphicons */
.glyphicon-heart {
  color: #7A75B5;
}

.sobre-container {
  display: flex;
  max-width: 1020px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px; /* Espaçamento entre imagem e conteúdo */
}

.image-container {
  flex: 5;
  min-width: 60%; /* Define uma largura mínima para evitar encolhimento excessivo */
}

.image-container img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.content {
  flex: 1.5; /* Aumenta o espaço ocupado pelo conteúdo */
  background-color: #2c365d; /* cor de fundo roxa */
  padding: 40px;
  color: #fff;
  border-radius: 10px;
}

.content-container h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.texto-content {
  margin-bottom: 40px;
}

.texto-content p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .sobre-container {
      flex-direction: column;
  }

  .image-container {
      height: 50vh;
  }

  .content {
      padding: 40px 20px;
  }
}
/* =====================
  Other Styles
===================== */
.mb-0 {
  margin-bottom: 0;
}
.mb-15 {
  margin-bottom: 15px!important;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mt-30 {
  margin-top: 30px;
}
.bg-shadow {
  box-shadow: 0 1px 3px rgba(8,33,30,0.5);
}
.bg-white {
  background-color: #fffefd;
  position: relative;
}
.bg-pink {
  background-color: #df3778;
  color: #fffefd;
  position: relative;
}
.bg-star-y {
  background: #ffce3f url(assets/imgs/yellow-star.png) fixed;
  background-size: 60px;
  color: #fffefd;
}
.bg-star-g {
  background: #29a598 url(assets/imgs/green-star.png) fixed;
  background-size: 60px;
  color: #fffefd;
}
.bg-honeycomb {
  background: #fffefd url(assets/imgs/honeycomb.png) fixed;
  background-size: 24px;
}
.gray {
  color: #9da6a4;
}
.dashed {
  border-top: 2px dashed #ffce3f;
}

@media (max-width: 767px) {
  /*** Page Elements ***/
  section .row [class^="col-sm-"] + [class^="col-sm-"],
  section .row [class*=" col-sm-"] + [class*=" col-sm-"] {
    margin-top: 30px;
  }
  /*** Jumbotron ***/
  .jumbotron .logo {
    max-width: 120px;
  }
  /*** Mobile Nav ***/
  .navbar-toggle {
    height: 36px;
    margin-bottom: 22px;
    margin-top: 22px;
  }
  .navbar-toggle .glyphicon {
    color: #6b7a78;
    top: -2px;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    border-color: #7A75B5;
  }
  .navbar-default .navbar-toggle .active {
    color: #7A75B5;
  }
  .navbar-collapse {
    background-color: #fffefd;
    background-color: rgba(255,254,253,0.97);
    border: none;
    box-shadow: 0 2px 8px rgba(8,33,30,0.2);
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  .navbar-collapse .outline.pink {
    margin: 15px auto 30px;
    max-width: 150px;
  }
}
